<nav class="user-menu-links">
<% if user_signed_in? %>
  <li class="white">
    <strong><%= current_user.name %></strong>
    <span> (<%= current_user.email %>)</span>
  </li>
  <li>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "white" %>
  </li>
  <li>
    <%= link_to "My Documents", documents_path, class: "white" %>
    <%= link_to "New Document", new_document_path, class: "link-button" %>
  </li>
<% else %>
  <li><%= link_to "Sign in", new_user_session_path, class: "white" %></li>
  <li><%= link_to "Sign up", new_user_registration_path, class: "light-blue" %></li>
<% end %>
</nav>
