<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Doctool</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
  </head>
  <body>
    <%= render "flash" %>
    <div class="navigation" aria-role="navigation">
      <div class="brand-logo">
        <img src="<%= asset_pack_path "images/doctool.png" %>"
             alt="doctool logo" style="height: 20px;"/>
      </div>
      <%= render "user_menu_links" %>
    </div>

    <div class="application-content">
      <%= yield %>
    </div>
  </body>
</html>
